<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
    body { background-color: powderblue; }
    h1 { color: navy; }
    </style>


    <title>--BRAIN PROJECT--</title>
</head>
<body>

<div>
    <p style="text-align: center;">-- Scraping data from the Website --</p>
<br>
    <p style="text-align: center;">_____________________________________________</p>
</div>

<div class="button-container">
    <p style="text-align: center;">
        <a href="specs_sel.html" method="get">
        <button type="submit" > Sellenium </button>
        </a>
        <a href="specs_plw.html" method="get">
        <button type="submit"> PlayWright </button> </a>
        <a href="specs_bs4.html" method="get">
        <button type="submit"> BeautifulSoup </button>  </a>
        </p>

</div>

</body>
</html>